<!DOCTYPE html>
<html>
<head>
  <title>Rosita</title>
  <%= csrf_meta_tags %>

  <%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
</head>

<body>
<div class="container">
  <%= yield %>
</div>

<footer class="navbar navbar-light bg-light mt-2">
  <div class="container">
    &copy; 2017 🌹 Rosita Rococó
  </div>
</footer>

</body>
</html>
